<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/admin.html}">
<head>
<meta charset="ISO-8859-1">
<title>Previews-</title>
</head>
<body>
	<div layout:fragment="content" class="rows">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-header">
					<strong>Todays's Birthday</strong>
				</div>
				<div class="card-body card-block">
					<p>section1</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card">
				<div class="card-header">
					<strong>Today's Joining Anniversary</strong>
				</div>
				<div class="card-body card-block">
					<p>section2</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card">
				<div class="card-header">
					<strong>Pending Welcome Greetings</strong>
				</div>
				<div class="card-body card-block">
					<p>section3</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>