<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Junglee-Login</title>
<meta name="description" content="JungleeGTK Admin Login">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet"
	th:href="@{/vendors/themify-icons/css/themify-icons.css}">
<link rel="stylesheet"
	th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
<link rel="stylesheet"
	th:href="@{/vendors/selectFX/css/cs-skin-elastic.css}">
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800'
	rel='stylesheet' type='text/css'>
</head>
<body class="bg-dark">
	<div class="sufee-login d-flex align-content-center flex-wrap">
		<div class="container">
			<div class="login-content">
				<div style="height: 70px;"></div>
				<div
					class="sufee-alert alert with-close alert-warning alert-dismissible fade show"
					th:if=${param.error}>
					<span class="badge badge-pill badge-warning">Fail</span> <span>Invalid
						Credentials!</span>.
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="login-form">
					<form name="f" th:action="@{/login}" method="POST">
						<div class="form-group">
							<label>User Id</label> <input type="email" name="email"
								class="form-control" placeholder="User Id">
						</div>
						<div class="form-group">
							<label>Password</label> <input type="password" name="password"
								class="form-control" placeholder="Password">
						</div>
						<div class="checkbox">
							<label><input type="checkbox" id="remember-me-option"
								name="remember-me-option"> Remember Me</label> <label
								class="pull-right"><a href="#">Forgotten Password?</a></label>
						</div>
						<button name="submit" type="submit"
							class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
						<div class="register-link m-t-15 text-center">
							<p>
								Don't have account ? <a th:href="@{/signup}"> Sign Up Here</a>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
		<script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
		<script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
		<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>