<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>GTK-Login</title>
<meta name="description" content="JungleeGreeting Admin">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet"
	th:href="@{/vendors/themify-icons/css/themify-icons.css}">
<link rel="stylesheet"
	th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
<link rel="stylesheet"
	th:href="@{/vendors/selectFX/css/cs-skin-elastic.css}">
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800'
	rel='stylesheet' type='text/css'>
</head>
<body class="bg-dark">
	<div class="sufee-login d-flex align-content-center flex-wrap">
		<div class="container">
			<div class="login-content">
				<div class="login-logo" style="height: 70px;"></div>
				<div class="alert  alert-success alert-dismissible fade show"
					role="alert" th:if=${sucsess_message}>
					<span class="badge badge-pill badge-success">Success</span> <span
						th:text="${sucsess_message}"></span>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>
				</div>

				<div
					class="sufee-alert alert with-close alert-warning alert-dismissible fade show"
					th:if=${fail_message}>
					<span class="badge badge-pill badge-warning">Fail</span> <span
						th:text="${fail_message}"></span>.
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="login-form">
					<form name="f" th:action="@{/signup}" class="form-horizontal"
						role="form" method="post">
						<div class="form-group">
							<label>Name</label> <input type="text" class="form-control"
								name="fullname" placeholder="Full Name">
						</div>
						<div class="form-group">
							<label>Email address</label> <input type="email" name="email"
								class="form-control" placeholder="Email">
						</div>
						<div class="checkbox">
							<!-- <label><input type="checkbox"> Agree the terms and policy</label> -->
						</div>
						<button type="submit"
							class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>
						<div class="register-link m-t-15 text-center">
							<p>
								Already have account ? <a th:href="@{/login}"> Sign in</a>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
	<script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>